{% set currentRoute = app.request.attributes.get('_route') %}
<nav class="sidebar d-flex flex-column p-3 ms-1">
	<ul class="nav flex-column">
		<li class="nav-item">
			<h6 class="mt-2 text-white-50">Accueil</h6>
			<a class="nav-link text-white {% if currentRoute == 'index' %}fw-bold{% endif %}" href="{{ path('index') }}">
				<i class="bi bi-house-door me-2"></i>Accueil</a>
		</li>
		{% if is_granted('ADMIN_VIEW') %}
			<li class="nav-item">
				<h6 class="mt-4 text-white-50">Utilisateurs</h6>
				<a class="nav-link text-white {% if currentRoute in ['user.list', 'user.new', 'user.edit'] %}fw-bold{% endif %}" href="{{ path('user.list') }}">
					<i class="bi bi-people me-2"></i>Utilisateurs</a>
			</li>
		{% endif %}
		{% if is_granted('CUSTOMER_VIEW') %}
			<li class="nav-item">
				<h6 class="mt-4 text-white-50">Clients</h6>
				<a class="nav-link text-white {% if currentRoute in ['customer.list', 'customer.new', 'customer.edit'] %}fw-bold{% endif %}" href="{{ path('customer.list') }}">
					<i class="bi bi-person-lines-fill me-2"></i>Clients</a>
			</li>
		{% endif %}
		<li class="nav-item">
			<h6 class="mt-4 text-white-50">Produits</h6>
			<a class="nav-link text-white {% if currentRoute in ['product.list', 'product.new', 'product.edit'] %}fw-bold{% endif %}" href="{{ path('product.list') }}">
				<i class="bi bi-box-seam me-2"></i>Produits</a>
		</li>
	</ul>
</nav>
